In [3]:
import os
import csv
import pandas as pd

vine_csv = os.path.join("vine_table.csv")

In [4]:
vine_table_df = pd.read_csv(vine_csv)

In [7]:
vine_table_rows = vine_table_df[vine_table_df["total_votes"] >= 20]
vine_table_rows

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [11]:
vine_table_helpful = vine_table_rows[vine_table_rows["helpful_votes"] / vine_table_rows["total_votes"] >= .5]

In [12]:
vine_table_helpful

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [13]:
vine_review_yes = vine_table_helpful[vine_table_helpful["vine"] == "Y"]
vine_review_no = vine_table_helpful[vine_table_helpful["vine"] == "N"]

In [51]:
# Total number of reviews
yes_count = vine_review_yes["review_id"].count()
no_count = vine_review_no["review_id"].count()
print(f' Total vine_reviews: {yes_count}, Total non-vine reviews: {no_count}')

 Total vine_reviews: 94, Total non-vine reviews: 40471

In [52]:
yes_5 = vine_review_yes[vine_review_yes["star_rating"] == 5].star_rating.count()
no_5 = vine_review_no[vine_review_no["star_rating"] == 5].star_rating.count()
print(f' 5 star vine_reviews: {yes_5}, 5 star non-vine reviews: {no_5}')

 5 star vine_reviews: 48, 5 star non-vine reviews: 15663

In [53]:
yes_percent = yes_5 / yes_count
no_percent = no_5 / no_count
print(f' percent of 5 star vine_reviews: {yes_percent}, percent of 5 star non-vine reviews: {no_percent}')

 percent of 5 star vine_reviews: 0.5106382978723404, percent of 5 star non-vine reviews: 0.38701786464381904